@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    .premierbandeau{
        background-color: #2A2E30;
        color: white;

        p{
            margin-left: 15%;
        }
    }

    .deuxièmebeandeau{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        background-color: #F17D25;
        color: white;
        height: 139px;

        a{
            font-weight: bold;
            font-size: 20px;
        }

        img{
            width: 127px;
            border-radius: 90px;
        }

        .searchBar{
            display: flex;
            flex-direction: row;
            gap: 0px;

            input{
                color: black;
                font-size: 20px;
            }
            button{
                color:black;
                background-color: white;
                font-size: 20px;
                padding: 10px;
                margin-top: 1px;
                margin-left:-10px;
            }
        }



        .EspaceMembrePanier{
            display: flex;
            flex-direction: row;
            gap: 10px;
            i{
                font-size: 20px;
                color: black;
            }
        }


       
    }
}



body{
    overflow-x: hidden;

    .section1Index{
        
        position: relative;
        left:0px;
        right:0px;
        background-size: cover;
        bottom: 0px;
        
        .fond{
            background: linear-gradient(to right, #ffffffa1 0%, #f2f2f200 100%);
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .container{
                // margin-left: 20%;
                // padding:52px;
                padding:12%;
                
    
    
                h1{
                    font-size: 2.986rem;
                    font-weight: bold;
                }
    
                p{
                    font-size: 25px;
                }
    
    
                .decouvrir{
                    background-color: #F17D25;
                    padding: 10px;
                    font-size: 26px;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
        
    
        }
    }


        .fondListeProduit{
            display: flex;
            flex-direction: column;
            background-color: #2A2E30;
            width: 100%;
            padding: 20px;
            justify-content: center;
            align-items: center;

            .container{
                width: 90%;
               
            }

            .listeProduit{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 20px;

                h2{
                    font-size: 2.488rem;
                    font-family: "Poppins", sans-serif;
                    font-weight: bold;
                    color: #F17D25;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 100%;

                }

                .produit{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    align-items: center;
                    // gap: 5px;
                    // justify-content: center;
                    // align-self: center;
                    // justify-self: center;
                    width: 250px;
                    height: 370px;
                    
                    

                    p{
                        text-align: center;
                    }

                    .prix{
                        color: #F17D25;
                        font-weight: bold;
                    }

                    a{
                        padding: 5px;
                        width:80%;
                        text-align: center;
                        background-color: #2A2E30;
                        color: white;
                    }

                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }

        }
        

        .Apropos{

           

            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .text{
                    width: 50%;
                    margin-top: 20px;
                    padding: 50px;

                    h3{
                        font-size: 2.074rem;
                        font-weight: bold;
                        text-align: left;
                        margin-bottom: 5%;
                    }

                    p{
                        font-weight: bold;
                        font-size: 1rem;
                        margin-bottom: 30px;
                    }
                }

                .imgApropos{
                    width: 600px;
                    // height: 40%;
                }
            }
        }

        .DetailArticle{
            width: 100%;

            .ImageTitreBtn{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 50px;
                gap: 50px;

                img{
                    width: 600px;
                }

                div{
                    h1{
                        font-size: 2.986rem;
                    }

                    h2{
                        font-size: 2.488rem;
                        margin-top:1rem;
                    }
                    
                    p{
                        margin-top:1rem;
                        font-size: 1rem;
                    }

                    form{
                        input{
                            width: 80px;
                            background: #D9D9D9;
                            border: 0px solid white;
                            font-size: 2.074rem;
                            padding : 5px;
                            font-weight: bold;
                        }

                        button{
                            width: 400px;
                            background: #F17D25;
                            border: 0px solid white;
                            font-size: 2.074rem;
                            color: black;
                            font-weight: bold;
                            padding: 5px;
                            margin-left: 1rem;
                            margin-top: 1rem;
                        }
                    }
                }


            }


            fieldset{
                border: 1px solid black;
                margin-left: 10%;
                width: 50%;
                padding: 20px;
                font-size: 1rem;
                margin-bottom: 50px;
                

                legend{
                    margin-left: 50px;
                    font-size: 2.488rem;
                    font-family: "Poppins", sans-serif;
                    font-weight: bold;
                }
            }
        }


}

.prefooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
    background-color: #F17D25;
    padding: 25px;

    div{
        text-align: center;

        i{
            font-size: 25px;
        }

        p{
            font-size: 1rem;
            font-weight: bold;
        }

    }
}


footer{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        width: 100%;

        .logoSlogan{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 25%;

            img{
                width: 150px;
                border-radius: 100%;
            }

            p{
                color :white;
                font-size: 1rem;
                font-weight: bold;
                text-align: center;

            }
        }


        .NosCollections, .informations{
            h3{
                color : white;
                font-size: 2.074rem;

            }
            ul{
                li{
                    list-style: none;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}